<html>
    <head>
        <title>DEvansh Sharma blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">DEvansh Sharma Blog</a></h1>
        </div>

        <div>
            <p>published: 29.07.2017</p>
        </div>
        <div>
            <h2><a href="">My first post</a></h2>
            <p>I am a learner. I have created this by using help of Django tutorials</p>
        </div>

        <div>
            
            <h2><a href="">My second post</a></h2>
            <p>I have noting to wite so i m not writin anything</p>
        </div>
    </body>
</html>